.full-width-table {
  width: 100%;
}


.mat-column-uuid {
  width: 30px;
}

#table-detail {
  margin-left: 45px;
  table  {
    font-size: 13px;
    td {
      vertical-align: top;
      li {
        padding-left: 15px;
      }
    }
  }
}

.sub-category {
  padding-left: 40px;
}
