<mat-progress-bar *ngIf="searchWaiting" color="primary" mode="indeterminate"></mat-progress-bar>
<mat-form-field id="cari-dokumen">
  <mat-label>
    Nomor Dokumen Permintaan Pembelian
  </mat-label>
  <input appElementFocus
         [formControl]="nomorDokumenPr"
         [textMask]="maskSearch"
         placeholder="Nomor Dokumen Permintaan Pembelian"
         autocomplete="off" matInput>

  <!--<mat-progress-spinner matSuffix *ngIf="searchWaiting"-->
                        <!--color="primary"-->
                        <!--diameter="25"-->
                        <!--mode="indeterminate">-->
  <!--</mat-progress-spinner>-->

</mat-form-field>


<div id="result">
  <mat-nav-list>
    <a *ngFor="let pr of dataPr" mat-list-item
       (click)="openDocument(pr)">
      <mat-icon mat-list-icon>receipt</mat-icon>
      <span mat-line class="result-info">{{pr.nomorDokumenPr}}</span>
      <span mat-line class="footer-info">Salesman: {{pr.salesman.karyawan.nama}}</span>
    </a>


  </mat-nav-list>
</div>


