<div class="dan-container"

     (contextmenu)="preventDefaultMode($event)"
     [class.dan-is-mobile]="mobileQuery.matches">


  <!-- Buat menu navigation bar-->
  <!--<mat-progress-bar *ngIf="start" color="warn" mode="indeterminate" style="position: absolute"></mat-progress-bar>-->
  <div class="mat-elevation-z8">
    <mat-card style="padding: 0 ">

      <mat-progress-bar *ngIf="start && !mobileQuery.matches" color="warn" mode="indeterminate"
                        style="height: 3px; position: absolute">
      </mat-progress-bar>


      <mat-toolbar class="dan-toolbar " color="primary">


        <button mat-icon-button (click)="toggle(sidenav)">
          <mat-icon color="">horizontal_split</mat-icon>
        </button>

        <!--*ngIf="start && mobileQuery.matches"-->
        <!--ketika masuk pada batas media query yang ditentukan-->

        <h1 *ngIf="mobileQuery.matches" style="margin-left: 15px;">&nbsp;{{menus.menuSelected}}</h1>


        <img *ngIf="!mobileQuery.matches"
             src="../../assets/logo.png" alt="">
        <h1 *ngIf="!mobileQuery.matches" style="margin-left: 10px;">
          <strong>Bintang Harapan Kurnia</strong>
        </h1>


        <!--<mat-icon *ngIf="!mobileQuery.matches"-->
        <!--color=""></mat-icon>-->

        <span class="toolbar-spacer"></span>

        <span style="font-size: 14px; color: #fff;" *ngIf="!mobileQuery.matches">{{menus.menuSelected}}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
      </span>
        <button mat-icon-button [matMenuTriggerFor]="userOptionsMenu">
          <mat-icon>tune</mat-icon>
        </button>

        <mat-progress-bar *ngIf="start && mobileQuery.matches" color="warn" mode="indeterminate"
                          class="loading-dashboard-mobile">
        </mat-progress-bar>
      </mat-toolbar>

    </mat-card>
  </div>
  <!--<mat-toolbar ></mat-toolbar>-->
  <!--Batas Pembuatan navigation bar-->


  <!--User Menu Options-->
  <mat-menu #userOptionsMenu="matMenu">
    <!--Lazy load menu-->
    <ng-template matMenuContent>
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Profil</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications</mat-icon>
        <span>Pemberitahuan</span>
      </button>
      <button mat-menu-item>
        <mat-icon>power_settings_new</mat-icon>
        <span>Keluar dari aplikasi</span>
      </button>
    </ng-template>
  </mat-menu>

  <!--Batas User Menu Options-->

  <!--Membuat Side navigation bar & Content-->
  <mat-sidenav-container
    class="dan-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <!--fixedInViewport="true"-->

    <mat-sidenav #sidenav [mode]="getSidenavMode()"
                 [opened]="!mobileQuery.matches"
                 [fixedInViewport]="mobileQuery.matches"
                 fixedTopGap="56">

      <mat-nav-list>
        <!--Looping for menu item-->

        <mat-list-item [ngClass]="m.cssClassOfColor " routerLink="."
                       *ngFor="let m of menus.showedMenu"
                       (click)="onMenuSelected(m, sidenav)">

          <mat-icon mat-list-icon>{{m.icon}}</mat-icon>
          <!--<p ></p>-->
          <h6 mat-line> {{m.menu}} </h6>
          <mat-icon *ngIf="m.childs" class="child-icon-color">arrow_right</mat-icon>

        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>


    <!--// Konten-->
    <!--(scroll)="onScroll($event)"-->
    <mat-sidenav-content >

      <!--< >-->
      <ng-scrollbar #mainScroll
                    class="main-scroll"
                    barClass="scroll-bar" thumbClass="scroll-thumbs"
                    [overlay]="true" [trackX]="true" [autoHide]="true">
        <div class="main-content">
          <!--<app-master-karyawan [scrolled]="scrolledByUser" [sideNav]="sidenav"></app-master-karyawan>-->
          <!--<app-pengguna [scrolled]="scrolledByUser" [sideNav]="sidenav"></app-pengguna>-->
          <!--<app-master-unit [scrolled]="scrolledByUser" [sideNav]="sidenav"></app-master-unit>-->
          <!--<app-master-category [scrolled]="scrolledByUser" [sideNav]="sidenav"></app-master-category>-->
          <!--<app-master-supplier [scrolled]="scrolledByUser" [sideNav]="sidenav"></app-master-supplier>-->
          <!--<app-master-pelanggan [scrolled]="scrolledByUser" [sideNav]="sidenav"></app-master-pelanggan>-->
          <!--<app-master-lokasi [scrolled]="scrolledByUser" [sideNav]="sidenav"></app-master-lokasi>-->
          <!--<app-master-gudang [scrolled]="scrolledByUser" [sideNav]="sidenav"></app-master-gudang>-->
          <!--<app-master-warna [scrolled]="scrolledByUser" [sideNav]="sidenav"></app-master-warna>-->
          <!--<br>-->
          <!--<app-master-item [scrolled]="scrolledByUser" [sideNav]="sidenav"></app-master-item>-->
          <app-permintaan-pembelian [scrolled]="scrolledByUser" [sideNav]="sidenav"></app-permintaan-pembelian>



        </div>

      </ng-scrollbar>


    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
