@import '~@angular/material/theming';

$color-icon-and-font: rgba(0, 0, 0, 0.56);
$standard-font-size-lg: 17px;
$standard-font-size-md: 14px;
$standard-font-size: 13px;
$standard-font-size-sm: 12px;
$header-color: rgba(0, 0, 0, 0.05);


@mixin dan-theme-mix($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);


  .load-more {
    color: mat-color($accent);
    font-style: italic;
  }

  .form-app {
    padding-left: 15px;
  }

  .mat-form-field {
    mat-error {
      //font-weight: bolder;
    }
    font-size: $standard-font-size;
    width: 100%;
    margin-top: 5px;
  }

  .bold {
    font-weight: bold;
  }

  .font-color {
    color: $color-icon-and-font;
  }

  .mat-header-cell {
    font-size: $standard-font-size-md;
    font-weight: bold;
  }

  .mat-cell {
    color: $color-icon-and-font;
    font-size: $standard-font-size;
  }

  th {
    background-color: $header-color;
  }

  .primary {
    color: mat-color($primary);
  }

  .primary-background {
    background: mat-color($primary);
  }

  .accent {
    color: mat-color($accent);
  }

  .warn {
    color: mat-color($warn);
  }

  //::ng-deep {
  .scroll-bar {
    background-color: rgba(0, 0, 0, 0.13) !important;
    border-radius: 4px;
  }
  .scroll-thumbs {
    background-color: rgba(0, 0, 0, 0.15) !important;

    &:hover,
    &:active {
      background-color: rgba(0, 0, 0, 0.2) !important;
    }
  }
  //}


  //Styling row table



  //tr.element-row:not(.expanded-row):hover {
  //  background: rgba(0, 0, 0, 0.03);
  //}
  //
  //tr.element-row:not(.expanded-row):active {
  //  background: rgba(0, 0, 0, 0.05);
  //}
  //
  //
  //tr.tr-show-menu {
  //  background-color: rgba(0, 0, 0, 0.03);
  //}
  //
  //// menghilangkan garis pada row tabel
  //tr.element-row td {
  //  //border-bottom-width: 0;
  //}

  //// end dari Styling row table

  mat-sidenav {
    z-index: 1;
  }

  .mat-menu-item {
    font-size: $standard-font-size;
  }


  .child-icon-color {
    color: $color-icon-and-font;
  }

  .dan-toolbar img {
    margin-top: -5px;
    margin-left: 15px;
    width: 25px;
    height: 30px;
  }

  mat-sidenav-content {
    padding: 25px;
  }

  .on-menu-selected mat-icon,
  .on-menu-selected h6 {
    color: mat-color($primary);
  }

  .mat-list-icon {
    color: $color-icon-and-font
  }


  .load-more {
    color: mat-color($accent);
    font-style: italic;
  }

  .mat-icon {
    vertical-align: middle;
  }


  .dialog-title-with-icon {
    vertical-align: middle;
    border-top: solid;
    border-top-color: #ffffff;
  }


  .mat-card-title {
    color: $color-icon-and-font;
    font-size: $standard-font-size-lg;
  }


  .mat-card-subtitle {
    font-size: $standard-font-size-sm;
  }

  .mat-card-content {
    font-size: $standard-font-size-md;
  }


  .mat-grid-tile-content-top {
    position: absolute;
    top: 0;
  }



  ::ng-deep .default-snackbar {
    color: #771d5b;
    font-weight: bold;
    background: #BDBDBD;
  }


  ::ng-deep .warning-snackbar {
    color: #ffffff;
    //font-weight: bold;
    background: mat-color($accent);
  }

  ::ng-deep .success-snackbar {
    color: #ffffff;
    //font-weight: bold;
    background: mat-color($primary);
  }

  ::ng-deep .error-snackbar {
    color: #ffffff;
    //font-weight: bold;
    background: mat-color($warn);
  }




}
