<div id="dialog-block">

  <mat-progress-bar *ngIf="dialogRef.disableClose" [color]="(isDelete()) ? 'warn' : 'accent'" mode="indeterminate">
  </mat-progress-bar>
  <h4 mat-dialog-title [ngClass]="(isDelete()) ? 'accent' : 'primary'">
    <div>
      <mat-icon *ngIf="!isDataNull() && isDetail()" style="margin-bottom: 8px;">description</mat-icon>
      <mat-icon *ngIf="!isDataNull() && (isInsert() || isUpdate())" style="margin-bottom: 4px;">subject</mat-icon>
      <mat-icon *ngIf="!isDataNull() && isDelete()" style="margin-bottom: 4px;">delete</mat-icon>

      <strong *ngIf="!isDataNull() && isDelete(); else elseHeader">&nbsp;Hapus Data</strong>
      <ng-template #elseHeader>
        <strong *ngIf="!isDataNull() && isDetail()">&nbsp;Rincian</strong>&nbsp;<strong>Data Unit</strong>
      </ng-template>
    </div>
  </h4>

  <div *ngIf="!isDataNull() && isDetail()" mat-dialog-content class="form-app">

    <div id="table-detail">
      <table class="full-width-table">
        <tr>
          <td>
            <li></li>
          </td>
          <td style="width: 120px">
            <strong>Unit</strong>
          </td>
          <td>
            <strong>:</strong>&nbsp;
          </td>
          <td >
            {{data.data.name}}
          </td>
        </tr>
        <tr>
          <td>
            <li></li>
          </td>
          <td style="width: 120px">
            <strong>Deskripsi</strong>
          </td>
          <td>
            <strong>:</strong>&nbsp;
          </td>
          <td >
            {{data.data.deskripsi}}
          </td>
        </tr>
      </table>
    </div>

  </div>


  <mat-dialog-content *ngIf="!isDataNull() && (isInsert() || isUpdate())">
    <form [formGroup]="form" class="form-app">
      <input type="hidden" formControlName="uuid"/>

      <!--nama-->
      <mat-form-field [appearance]="formFieldAppearance">
        <mat-label>Nama Unit</mat-label>
        <input matInput autocomplete="off" placeholder="Nama Unit" formControlName="name" required
               [errorStateMatcher]="stateMatchers.name.matcher">

        <mat-error
          *ngIf="reactiveFormUtil.formControl(form, 'name').hasError('required')">{{stateMatchers.name.message}}</mat-error>
      </mat-form-field>


      <!--deskripsi-->
      <mat-form-field [appearance]="formFieldAppearance">
        <mat-label>Deskripsi</mat-label>
        <textarea  matInput placeholder="Deskripsi" style="height: 75px" formControlName="deskripsi"></textarea>
      </mat-form-field>


    </form>
  </mat-dialog-content>

  <mat-dialog-actions *ngIf="!isDataNull() && (isInsert() || isUpdate())" align="end">
    <button mat-flat-button color="primary" (click)="save(form.getRawValue())"
            [disabled]="!form.valid">Simpan
    </button>
  </mat-dialog-actions>

  <mat-dialog-actions class="delete" *ngIf="!isDataNull() && isDelete()" align="end">
    <button mat-button (click)="delete(data.data.uuid)">
      <strong class="delete">Ya, Hapus</strong>
    </button>
    <button mat-button [mat-dialog-close]="close">
      <strong class="delete">Tidak</strong>
    </button>
  </mat-dialog-actions>

</div>
