.mat-dialog-actions {
  padding-bottom: 20px;
}


.mat-progress-bar {
  position: absolute;
  margin-left: -24px;
  margin-top: -24px;
  height: 4px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  width: 113.6%;
}



.mat-dialog-title {
  font-size: 15px;
}

table {
  width: 100%; font-size: 13px;
}

.table-td {
  width: 50%;
}
