<div id="dialog-block">

  <!--<div class="dialog-block-content">-->
  <mat-progress-bar *ngIf="dialogRef.disableClose" [color]="(isDelete()) ? 'warn' : 'accent'" mode="indeterminate">
  </mat-progress-bar>
  <h4 mat-dialog-title [ngClass]="(isDelete()) ? 'accent default-background' : 'primary'">
    <div>
      <mat-icon *ngIf="!isDataNull() && isDetail()" style="margin-bottom: 8px;">description</mat-icon>
      <mat-icon *ngIf="!isDataNull() && (isInsert() || isUpdate())" style="margin-bottom: 4px;">subject</mat-icon>
      <mat-icon *ngIf="!isDataNull() && isDelete()" style="margin-bottom: 4px;">delete</mat-icon>

      <strong *ngIf="!isDataNull() && isDelete(); else elseHeader">&nbsp;Hapus Data</strong>
      <ng-template #elseHeader>
        <strong *ngIf="!isDataNull() && isDetail()">&nbsp;Rincian</strong>&nbsp;<strong>Permintaan Pembelian</strong>
      </ng-template>
    </div>
  </h4>

  <!-- Detail-->
  <mat-dialog-content *ngIf="!isDataNull() && isDetail()">
    <div id="table-detail" style="padding: 25px 15px 0 0;" >
      <table class="full-width-table">

        <!--Status-->
        <tr>
          <td style="padding-left: 25px" colspan="3">
            <mat-chip-list>
              <mat-chip class="mat-chips-default-padding" [ngStyle]="{
                              'background-color': statusColor(data.data.statusDokumenPr).background,
                              'color': statusColor(data.data.statusDokumenPr).color
                            }">
                {{data.data.statusDokumenPr}}
              </mat-chip>
            </mat-chip-list>
          </td>
        </tr>
        <tr style="height: 10px;">
          <td colspan="3"></td>
        </tr>
        <!--Tanggal-->
        <tr>
          <td style="width: 250px;">
            <li><strong>Tanggal Permintaan</strong></li>
          </td>
          <td>
            <strong>:</strong>&nbsp;
          </td>
          <td>
            {{data.data.tanggalPermintaan}}
          </td>
        </tr>
        <!--Prefix-->
        <tr>
          <td>
            <li><strong>Prefix</strong></li>
          </td>
          <td>
            <strong>:</strong>&nbsp;
          </td>
          <td>
            {{data.data.nomorPrefixPr}}
          </td>
        </tr>
        <!--Nomor Dokumen-->
        <tr>
          <td>
            <li><strong>Nomor Dokumen</strong></li>
          </td>
          <td>
            <strong>:</strong>&nbsp;
          </td>
          <td>
            {{data.data.nomorDokumenPr}}
          </td>
        </tr>
        <!--Salesman-->
        <tr>
          <td>
            <li><strong>Salesman</strong></li>
          </td>
          <td>
            <strong>:</strong>&nbsp;
          </td>
          <td>
            {{data.data.salesman.karyawan.nama}}
          </td>
        </tr>
        <!--Approved By-->
        <tr *ngIf="ifApproved(data.data.statusDokumenPr)">
          <td>
            <li><strong>Approved By</strong></li>
          </td>
          <td>
            <strong>:</strong>&nbsp;
          </td>
          <td>
            {{data.data.prApprovedBy}}
          </td>
        </tr>
        <!--Approved Date-->
        <tr *ngIf="ifApproved(data.data.statusDokumenPr)">
          <td>
            <li><strong>Approved Date</strong></li>
          </td>
          <td>
            <strong>:</strong>&nbsp;
          </td>
          <td>
            {{data.data.prApprovedDate}}
          </td>
        </tr>
        <!--Canceled By-->
        <tr *ngIf="ifCancel(data.data.statusDokumenPr)">
          <td>
            <li><strong>Canceled By</strong></li>
          </td>
          <td>
            <strong>:</strong>&nbsp;
          </td>
          <td>
            {{data.data.prCancelledBy}}
          </td>
        </tr>
        <!--Canceled Date-->
        <tr *ngIf="ifCancel(data.data.statusDokumenPr)">
          <td>
            <li><strong>Canceled Date</strong></li>
          </td>
          <td>
            <strong>:</strong>&nbsp;
          </td>
          <td>
            {{data.data.prCanceledDate}}
          </td>
        </tr>
        <!--canceled reason-->
        <tr *ngIf="ifCancel(data.data.statusDokumenPr)">
          <td>
            <li><strong>Canceled Reason</strong></li>
          </td>
          <td>
            <strong>:</strong>&nbsp;
          </td>
          <td>
            {{data.data.prCanceledReason}}
          </td>
        </tr>
        <!--catatan-->
        <tr>
          <td>
            <li><strong>Catatan</strong></li>
          </td>
          <td>
            <strong>:</strong>&nbsp;
          </td>
          <td>
            {{data.data.catatan}}
          </td>
        </tr>

        <!--detail-->
        <tr>
          <td colspan="3" style="height: 10px"></td>
        </tr>
        <tr *ngIf="data.data.detail.length > 0">
          <td colspan="3">
            <li class="primary">
              <strong class="primary">Detail &nbsp;({{data.data.detail.length}})</strong>
            </li>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <table>
              <tr *ngFor="let b of data.data.detail">
                <td colspan="2" style="padding-left: 34px">
                  <table>
                    <tr>
                      <td colspan="2">
                                        <span class="accent" style="text-decoration: underline;">
                                          {{b.item.namaKain}}
                                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <table>
                          <tr>
                            <td style="width: 90px">
                              <li><strong>Catatan&nbsp;:&nbsp;</strong></li>
                            </td>
                            <td>
                              {{b.catatan}}
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <li class="primary">
                          <strong class="primary">Warna &nbsp;({{b.detailWarna.length}})</strong>
                        </li>
                      </td>
                    </tr>
                    <div *ngFor="let w of b.detailWarna">
                      <tr>
                        <td colspan="2" style="padding-left: 35px">
                          <mat-chip-list>
                            <mat-chip class="mat-chips-default-padding"
                                      [ngStyle]="{ 'background-color': w.warna.kodeWarnaHexadecimal,
                                           'color': invertColor(w.warna.kodeWarnaHexadecimal) }">
                              {{w.warna.namaWarna}}&nbsp;
                              ({{w.jumlah}} {{w.unit.name}})
                            </mat-chip>
                          </mat-chip-list>
                          <table style="font-size: 10px">
                            <tr>
                              <td style="width: 50px;padding-left: 15px"><strong>Note : </strong></td>
                              <td>{{w.catatan}}</td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr style="height: 5px">
                        <td colspan="2"></td>
                      </tr>
                    </div>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </mat-dialog-content>

  <!-- Utama-->
  <mat-dialog-content *ngIf="!isDataNull() && (isInsert() || isUpdate())">
    <form [formGroup]="form">

      <!--<div class="row">-->
      <mat-tab-group #tabGroup
                     (selectedIndexChange)="onTabChanged($event)"
                     [selectedIndex]="selectedIndex"
                     [animationDuration]="'500ms'"
                     color="primary">
        <!-- Pemilihan -->
        <mat-tab disabled>
          <ng-template mat-tab-label>
            <span class="mat-tab-label-text">Jenis Permintaan Pembelian</span>
          </ng-template>
          <div>
            <div class="container-row">
              <div class="row row-permintaan static-body-height">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" style="margin-bottom: 50px">
                  <mat-form-field [appearance]="formFieldAppearance">

                    <mat-select placeholder="Jenis Permintaan Pembelian"
                                [formControl]="jenisPermintaan"
                                [errorStateMatcher]="jenisPermintaanStateMatcher"
                                required>
                      <mat-option class="pilih">--&nbsp; Tentukan Jenis Permintaan Pembelian &nbsp;--</mat-option>
                      <mat-divider></mat-divider>
                      <mat-option value="LANGSUNG">Langsung</mat-option>
                      <mat-option disabled value="TIDAK LANGSUNG">Tidak Langsung</mat-option>
                    </mat-select>

                    <mat-error
                      *ngIf="jenisPermintaan.hasError('required')">
                      Tentukan Jenis Permintaan Pembelian
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                </div>


              </div>
            </div>
          </div>
        </mat-tab>

        <!-- Data-->
        <mat-tab disabled>
          <ng-template mat-tab-label>
            <span class="mat-tab-label-text">Daftar Permintaan Pembelian</span>
          </ng-template>
          <div class="container-row">
            <form [formGroup]="form">
              <div class="row-permintaan static-body-height">
                <div class="row">
                  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <!--tanggal PR-->
                    <mat-form-field [appearance]="formFieldAppearance">
                      <mat-label>{{
                        ((isInsert())
                        ? (documentProperties.waiting) ? 'Mengambil tanggal PR dari server' : ((documentProperties.failed) ? 'Gagal mengambil tanggal PR dari server' : 'Tanggal Permintaan Pembelian')
                        : 'Tanggal Permintaan Pembelian')
                        }}</mat-label>
                      <input matInput autocomplete="off"
                             formControlName="tanggalPermintaan" required
                             [errorStateMatcher]="stateMatchers.nomorDokumenPr.matcher">
                      <mat-error
                        *ngIf="reactiveFormUtil.formControl(form, 'tanggalPermintaan').hasError('required')">
                        {{stateMatchers.tanggalPermintaan.message}}</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <!--Nomor Dokumen-->
                    <mat-form-field [appearance]="formFieldAppearance">
                      <mat-label>{{
                        ((isInsert())
                          ? (documentProperties.waiting ? 'Mengambil nomor dokumen dari server' : (documentProperties.failed ? 'Gagal mengambil nomor dokumen dari server' : 'Nomor Dokumen'))
                            : 'Nomor Dokumen'
                        )
                        }}</mat-label>
                      <input matInput autocomplete="off"
                             formControlName="nomorDokumenPr" required
                             [errorStateMatcher]="stateMatchers.nomorDokumenPr.matcher">
                      <mat-error
                        *ngIf="reactiveFormUtil.formControl(form, 'nomorDokumenPr').hasError('required')">
                        {{stateMatchers.nomorDokumenPr.message}}</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <!--salesman-->
                    <mat-form-field formGroupName="salesman" [appearance]="formFieldAppearance">
                      <mat-select #selectSalesman
                                  [placeholder]="(salesmanLazy.isEnabled()) ? 'Salesman' : (salesmanLazy.failToFetch ? 'Gagal memuat data salesman ....' : 'Memuat data salesman ......' )"
                                  formControlName="uuid"
                                  [errorStateMatcher]="stateMatchers.salesman.matcher"
                                  [required]="salesmanLazy.isEnabled()">
                        <mat-option class="pilih">--&nbsp; Pilih salah satu &nbsp;--</mat-option>
                        <mat-divider></mat-divider>
                        <mat-option [value]="v.uuid" *ngFor="let v of salesmanLazy.data">
                          {{v.karyawan.nama}}
                        </mat-option>
                        <mat-divider></mat-divider>
                        <mat-option *ngIf="!salesmanLazy.isLast" (click)="salesmanLazy.refresh()" class="lebih-banyak">
                          <div *ngIf="!salesmanLazy.waitingLoadMore || salesmanLazy.failToFetch; else load">Muat lebih
                            banyak
                            ....
                          </div>
                          <ng-template #load>
                            <mat-progress-bar style="position: relative; border-radius: 0px" color="primary"
                                              mode="indeterminate"></mat-progress-bar>
                          </ng-template>
                        </mat-option>
                      </mat-select>
                      <button *ngIf="salesmanLazy.failToFetch" matSuffix mat-icon-button
                              matTooltip="Segarkan Salesman"
                              [matTooltipPosition]="'left'"
                              (click)="salesmanLazy.refresh()">
                        <mat-icon color="primary">refresh</mat-icon>
                      </button>
                      <mat-error
                        *ngIf="reactiveFormUtil.formControl(reactiveFormUtil.getFormGroup(form, 'salesman'), 'uuid').hasError('required')">
                        {{stateMatchers.salesman.message}}</mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div style="float:left!important;font-size: 13px ">
                      <strong class="primary">Daftar Permintaan Barang</strong>
                      &nbsp;
                      <button mat-icon-button matTooltip="Tambah Data Permintaan Barang"
                              [matTooltipPosition]="'left'"
                              (click)="initializePermmintaanDetail(reactiveFormUtil.getFormArray('detail', form))">
                        <mat-icon color="primary">add</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="row" style="width: 100%; margin-left: 2px">
                    <div formArrayName="detail" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div
                        *ngFor="let detailData of reactiveFormUtil.getFormArrays('detail', form); index as detailIndex">
                        <!--<mat-form-field [appearance]="formFieldAppearance">-->
                        <mat-card id="detail-card">

                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <i><span class="accent">{{detailTitle(detailData, detailIndex)}}</span></i>
                            <button style="float: right" mat-icon-button matTooltip="Hapus"
                                    [matTooltipPosition]="'below'"
                                    (click)="removeDetailPermintaanItem(reactiveFormUtil.getFormArray('detail', form), detailIndex)">
                              <mat-icon class="icon-delete-subcategory">delete</mat-icon>
                            </button>
                          </div>

                          <mat-card-content>
                            <div [formGroupName]="detailIndex" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <input type="hidden" formControlName="uuid">

                              <!--item-->
                              <mat-form-field formGroupName="item" [appearance]="formFieldAppearance">
                                <mat-select appMatSelectViewChild
                                            (viewChild)="afterItemMasterViewInit($event, detailIndex)"
                                            (selectionChange)="onItemSelectionChange($event, detailIndex, detailData)"
                                            [placeholder]="(itemLazy[detailIndex].isEnabled()) ? 'Nama Kain' : (itemLazy[detailIndex].failToFetch ? 'Gagal memuat data barang....' : 'Memuat data barang ......' )"
                                            formControlName="uuid"
                                            [errorStateMatcher]="stateMatchers.detail.item.matcher"
                                            [required]="itemLazy[detailIndex].isEnabled()">
                                  <mat-option class="pilih">--&nbsp; Pilih salah satu &nbsp;--</mat-option>
                                  <mat-divider></mat-divider>
                                  <mat-option [value]="v.uuid" *ngFor="let v of itemLazy[detailIndex].data">
                                    {{v.namaKain}}
                                  </mat-option>
                                  <mat-divider></mat-divider>
                                  <mat-option *ngIf="!itemLazy[detailIndex].isLast"
                                              (click)="itemLazy[detailIndex].refresh()" class="lebih-banyak">
                                    <div
                                      *ngIf="!itemLazy[detailIndex].waitingLoadMore || itemLazy[detailIndex].failToFetch; else load">
                                      Muat lebih
                                      banyak
                                      ....
                                    </div>
                                    <ng-template #load>
                                      <mat-progress-bar style="position: relative; border-radius: 0px" color="primary"
                                                        mode="indeterminate"></mat-progress-bar>
                                    </ng-template>
                                  </mat-option>
                                </mat-select>
                                <button *ngIf="itemLazy[detailIndex].failToFetch" matSuffix mat-icon-button
                                        matTooltip="Segarkan Data Barang"
                                        (click)="itemLazy[detailIndex].refresh()"
                                        [matTooltipPosition]="'left'">
                                  <mat-icon color="primary">refresh</mat-icon>
                                </button>
                                <mat-error
                                  *ngIf="reactiveFormUtil.formControl(reactiveFormUtil.getFormGroup(detailData, 'item'), 'uuid').hasError('required')">
                                  {{stateMatchers.detail.item.message}}</mat-error>
                              </mat-form-field>

                              <!--pilih warna-->
                              <mat-form-field formArrayName="detailWarna">
                                <mat-chip-list #chipList>
                                  <mat-chip
                                    [ngStyle]="{ 'background-color': temp.warna.kodeWarnaHexadecimal,
                                           'color': invertColor(temp.warna.kodeWarnaHexadecimal) }"
                                    (removed)="removeWarna(reactiveFormUtil.getFormArray('detailWarna', detailData), tempIndex)"
                                    *ngFor="let temp of getDetailWarnaValues(detailData, 'detailWarna'); index as tempIndex">
                                    {{temp.warna.namaWarna}}
                                    <mat-icon matTooltip="Ubah" class="first-chip-icon mat-standard-chip-icon"
                                              [matTooltipPosition]="'below'"
                                              (click)="editPropertiWarnaChips(detailData, detailIndex, tempIndex)">arrow_drop_down_circle</mat-icon>
                                    <mat-icon matTooltip="Hapus" class="mat-standard-chip-icon"
                                              [matTooltipPosition]="'below'"
                                              (click)="removeWarna(reactiveFormUtil.getFormArray('detailWarna', detailData), tempIndex)">
                                      cancel
                                    </mat-icon>
                                  </mat-chip>
                                  <div>
                                    <input
                                      matInput
                                      appMatAutocompleteTriggerViewChild
                                      (viewChild)="onWarnaTriggerInitialized($event)"
                                      (click)="dataWarnaTrigger[detailIndex].openPanel()"
                                      placeholder="Pilihan Warna"

                                      [matAutocomplete]="auto"
                                      [matChipInputFor]="chipList">

                                  </div>
                                </mat-chip-list>
                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                                                  (optionSelected)="selected($event, reactiveFormUtil.getFormArray('detailWarna', detailData), detailIndex)">
                                  <mat-option *ngFor="let temp of dataWarna[detailIndex]" [value]="temp">

                                    {{temp.namaWarna }} &nbsp;&nbsp;<span><strong>#KODE:</strong> <i
                                    class="accent"> {{printKodeWarna(temp.kodeWarna)}}</i></span>

                                  </mat-option>
                                </mat-autocomplete>
                              </mat-form-field>

                              <!--catatan-->
                              <mat-form-field [appearance]="formFieldAppearance">
                                <mat-label>Catatan Detail Permintaan</mat-label>
                                <textarea matInput placeholder="Catatan Detail Permintaan"
                                          formControlName="catatan"></textarea>
                              </mat-form-field>

                            </div>


                          </mat-card-content>
                        </mat-card>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!--catatan-->
                    <mat-form-field [appearance]="formFieldAppearance" style="margin-bottom: 25px">
                      <mat-label>Catatan Permintaan Barang</mat-label>
                      <textarea matInput placeholder="Catatan Permintaan Barang"
                                formControlName="catatan"></textarea>
                    </mat-form-field>
                  </div>
                </div>


              </div>
            </form>
          </div>
        </mat-tab>

        <!--Pratinjau-->
        <mat-tab disabled>
          <ng-template mat-tab-label>
            <span class="mat-tab-label-text">Pratinjau</span>
          </ng-template>
          <div class="container-row">
            <div class="row row-permintaan static-body-height">
              <!--{{previewValue | json}}-->
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 preview" style="margin-bottom: 20px">
                <table class="full-width-table">

                  <!--Tanggal-->
                  <tr>
                    <td style="width: 250px;">
                      <li><strong>Tanggal Permintaan</strong></li>
                    </td>
                    <td>
                      <strong>:</strong>&nbsp;
                    </td>
                    <td>
                      {{previewValue.tanggalPermintaan}}
                    </td>
                  </tr>
                  <!--Prefix-->
                  <tr>
                    <td>
                      <li><strong>Prefix</strong></li>
                    </td>
                    <td>
                      <strong>:</strong>&nbsp;
                    </td>
                    <td>
                      {{previewValue.nomorPrefixPr}}
                    </td>
                  </tr>
                  <!--Nomor Dokumen-->
                  <tr>
                    <td>
                      <li><strong>Nomor Dokumen</strong></li>
                    </td>
                    <td>
                      <strong>:</strong>&nbsp;
                    </td>
                    <td>
                      {{previewValue.nomorDokumenPr}}
                    </td>
                  </tr>
                  <!--Salesman-->
                  <tr>
                    <td>
                      <li><strong>Salesman</strong></li>
                    </td>
                    <td>
                      <strong>:</strong>&nbsp;
                    </td>
                    <td>
                      {{previewValue.salesman.karyawan.nama}}
                    </td>
                  </tr>
                  <!--Approved By-->
                  <tr *ngIf="ifApproved(previewValue.statusDokumenPr)">
                    <td>
                      <li><strong>Approved By</strong></li>
                    </td>
                    <td>
                      <strong>:</strong>&nbsp;
                    </td>
                    <td>
                      {{previewValue.prApprovedBy}}
                    </td>
                  </tr>
                  <!--Approved Date-->
                  <tr *ngIf="ifApproved(previewValue.statusDokumenPr)">
                    <td>
                      <li><strong>Approved Date</strong></li>
                    </td>
                    <td>
                      <strong>:</strong>&nbsp;
                    </td>
                    <td>
                      {{previewValue.prApprovedDate}}
                    </td>
                  </tr>
                  <!--Canceled By-->
                  <tr *ngIf="ifCancel(previewValue.statusDokumenPr)">
                    <td>
                      <li><strong>Canceled By</strong></li>
                    </td>
                    <td>
                      <strong>:</strong>&nbsp;
                    </td>
                    <td>
                      {{previewValue.prCancelledBy}}
                    </td>
                  </tr>
                  <!--Canceled Date-->
                  <tr *ngIf="ifCancel(previewValue.statusDokumenPr)">
                    <td>
                      <li><strong>Canceled Date</strong></li>
                    </td>
                    <td>
                      <strong>:</strong>&nbsp;
                    </td>
                    <td>
                      {{previewValue.prCanceledDate}}
                    </td>
                  </tr>
                  <!--canceled reason-->
                  <tr *ngIf="ifCancel(previewValue.statusDokumenPr)">
                    <td>
                      <li><strong>Canceled Reason</strong></li>
                    </td>
                    <td>
                      <strong>:</strong>&nbsp;
                    </td>
                    <td>
                      {{previewValue.prCanceledReason}}
                    </td>
                  </tr>
                  <!--catatan-->
                  <tr>
                    <td>
                      <li><strong>Catatan</strong></li>
                    </td>
                    <td>
                      <strong>:</strong>&nbsp;
                    </td>
                    <td>
                      {{previewValue.catatan}}
                    </td>
                  </tr>

                  <!--detail-->
                  <tr>
                    <td colspan="3" style="height: 10px"></td>
                  </tr>
                  <tr *ngIf="previewValue.detail.length > 0">
                    <td colspan="3">
                      <li class="primary">
                        <strong class="primary">Detail &nbsp;({{previewValue.detail.length}})</strong>
                      </li>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <table>
                        <tr *ngFor="let b of previewValue.detail">
                          <td colspan="2" style="padding-left: 34px">
                            <table>
                              <tr>
                                <td colspan="2">
                                        <span class="accent" style="text-decoration: underline;">
                                          {{b.item.namaKain}}
                                        </span>
                                </td>
                              </tr>
                              <tr>
                                <td colspan="2">
                                  <table>
                                    <tr>
                                      <td style="width: 90px">
                                        <li><strong>Catatan&nbsp;:&nbsp;</strong></li>
                                      </td>
                                      <td>
                                        {{b.catatan}}
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td colspan="2">
                                  <li class="primary">
                                    <strong class="primary">Warna &nbsp;({{b.detailWarna.length}})</strong>
                                  </li>
                                </td>
                              </tr>
                              <div *ngFor="let w of b.detailWarna">
                                <tr>
                                  <td colspan="2" style="padding-left: 35px">
                                    <mat-chip-list>
                                      <mat-chip class="mat-chips-default-padding"
                                                [ngStyle]="{ 'background-color': w.warna.kodeWarnaHexadecimal,
                                           'color': invertColor(w.warna.kodeWarnaHexadecimal) }">
                                        {{w.warna.namaWarna}}&nbsp;
                                        ({{w.jumlah}} {{w.unit.name}})
                                      </mat-chip>
                                    </mat-chip-list>
                                    <table style="font-size: 10px">
                                      <tr>
                                        <td style="width: 50px;padding-left: 15px"><strong>Note : </strong></td>
                                        <td>{{w.catatan}}</td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <tr style="height: 5px">
                                  <td colspan="2"></td>
                                </tr>
                              </div>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>


    </form>
  </mat-dialog-content>

  <mat-divider class="divider-actions" *ngIf="!isDataNull() && (isInsert() || isUpdate())"></mat-divider>


  <mat-dialog-actions *ngIf="!isDataNull() && (isInsert() || isUpdate())" align="end">

    <button *ngIf="sebelumnyaCondition()"
            matPrefix
            mat-flat-button
            (click)="previous()"
            color="accent">
      Kembali
      <!--<mat-icon>chevron_right</mat-icon>-->
    </button>

    <span style="flex: 1 1 auto;"></span>
    <!--[disabled]="simpanButtonCondition(form.valid)"-->
    <button mat-flat-button
            [disabled]="selanjutnyaCondition()"
            (click)="next()"
            color="primary">
      {{(selectedIndex === 2) ? 'Simpan' : 'Selanjutnya'}}
      <!--<mat-icon>chevron_right</mat-icon>-->
    </button>
  </mat-dialog-actions>

  <mat-dialog-actions class="delete" *ngIf="!isDataNull() && isDelete()" align="end">
    <button mat-button (click)="delete(data.data.uuid)">
      <strong class="delete">Ya, Hapus</strong>
    </button>
    <button mat-button [mat-dialog-close]="close">
      <strong class="delete">Tidak</strong>
    </button>
  </mat-dialog-actions>

</div>
