@import "../../../../../assets/css/dan-theme";
@import "../../../../../assets/css/dan-mix";

.full-width-table {
  width: 100%;
}


.mat-column-uuid {
  width: 30px;
}


#table-detail {
  margin-left: 20px;
  table  {
    font-size: $standard-font-size;
    td {
      vertical-align: top;
      li {
        padding-left: 15px;
      }
    }
  }
}
