<div id="dialog-block">

  <!--<div class="dialog-block-content">-->
  <mat-progress-bar *ngIf="dialogRef.disableClose" [color]="(isDelete()) ? 'warn' : 'accent'" mode="indeterminate">
  </mat-progress-bar>
  <h4 mat-dialog-title [ngClass]="(isDelete()) ? 'warn' : 'primary'">
    <div>
      <mat-icon *ngIf="!isDataNull() && isDetail()" style="margin-bottom: 8px;">description</mat-icon>
      <mat-icon *ngIf="!isDataNull() && (isInsert() || isUpdate())" style="margin-bottom: 4px;">subject</mat-icon>
      <mat-icon *ngIf="!isDataNull() && isDelete()" style="margin-bottom: 4px;">delete</mat-icon>

      <strong *ngIf="!isDataNull() && isDelete(); else elseHeader">&nbsp;Hapus Data</strong>
      <ng-template #elseHeader>
        <strong *ngIf="!isDataNull() && isDetail()">&nbsp;Rincian</strong>&nbsp;<strong>Data Item</strong>
      </ng-template>
    </div>
  </h4>

  <mat-dialog-content *ngIf="!isDataNull() && isDetail()" class="form-app">
    <div id="table-detail">
      <table class="full-width-table">
        <!--nama kain-->
        <tr>
          <td>
            <li><strong>Nama Kain</strong></li>
          </td>
          <td>
            <strong>:</strong>&nbsp;
          </td>
          <td>
            {{data.data.namaKain}}
          </td>
        </tr>
        <!--nama item-->
        <tr>
          <td style="width: 150px">
            <li><strong>Nama Item</strong></li>
          </td>
          <td>
            <strong>:</strong>&nbsp;
          </td>
          <td>
            {{data.data.namaItem}}
          </td>
        </tr>
        <!--ukuran-->
        <tr>
          <td>
            <li><strong>Ukuran</strong></li>
          </td>
          <td>
            <strong>:</strong>&nbsp;
          </td>
          <td>
            {{data.data.ukuran}}
          </td>
        </tr>
        <!--benang-->
        <tr>
          <td>
            <li><strong>Benang</strong></li>
          </td>
          <td>
            <strong>:</strong>&nbsp;
          </td>
          <td>
            {{data.data.benang}}
          </td>
        </tr>
        <tr>
          <td>
            <li><strong>Jenis Kain</strong></li>
          </td>
          <td>
            <strong>:</strong>&nbsp;
          </td>
          <td>
            {{data.data.jenisKain}}
          </td>
        </tr>

        <tr>
          <td>
            <li><strong>Kode</strong></li>
          </td>
          <td>
            <strong>:</strong>&nbsp;
          </td>
          <td>
            {{data.data.kode}}
          </td>
        </tr>
        <tr>
          <td>
            <li><strong>Kode Inventori</strong></li>
          </td>
          <td>
            <strong>:</strong>&nbsp;
          </td>
          <td>
            {{data.data.kodeItemAlias}}
          </td>
        </tr>
        <!--BARCODE-->
        <tr>
          <td colspan="3" style="height: 10px"></td>
        </tr>
        <tr *ngIf="data.data.barcode.length > 0">
          <td colspan="3">
            <li class="primary">
              <strong class="primary">Barcode &nbsp;({{data.data.barcode.length}})</strong>
            </li>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <table>
              <div *ngFor="let b of data.data.barcode">
                <tr>
                  <td colspan="2" style="padding-left: 34px">
                                  <span class="accent" style="text-decoration: underline;">
                                    {{b.barcode}}
                                  </span>
                  </td>
                </tr>

              </div>
            </table>
          </td>
        </tr>


        <!--nama alias-->
        <tr>
          <td colspan="3" style="height: 10px"></td>
        </tr>
        <tr *ngIf="data.data.barcode.length > 0">
          <td colspan="3">
            <li class="primary">
              <strong class="primary">Nama Alias &nbsp;({{data.data.namaAlias.length}})</strong>
            </li>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <table>
              <div *ngFor="let b of data.data.namaAlias">
                <tr>
                  <td colspan="2" style="padding-left: 34px">
                                  <span class="accent" style="text-decoration: underline;">
                                    {{b.namaAlias}}
                                  </span>
                  </td>
                </tr>

              </div>
            </table>
          </td>
        </tr>
        <!--kategori-->
        <tr>
          <td>
            <li><strong>Kategori</strong></li>
          </td>
          <td>
            <strong>:</strong>&nbsp;
          </td>
          <td>
            {{data.data.kategori.namaKategori}}
          </td>
        </tr>
        <!--sub kategori-->
        <tr>
          <td>
            <li><strong>Sub Kategori</strong></li>
          </td>
          <td>
            <strong>:</strong>&nbsp;
          </td>
          <td>
            {{data.data.subKategori.nama}}
          </td>
        </tr>
        <!--unit-->
        <tr>
          <td>
            <li><strong>Unit</strong></li>
          </td>
          <td>
            <strong>:</strong>&nbsp;
          </td>
          <td>
            {{data.data.unit.name}}
          </td>
        </tr>
        <!--warna-->
        <tr>
          <td colspan="3" style="height: 10px"></td>
        </tr>
        <tr *ngIf="data.data.barcode.length > 0">
          <td colspan="3">
            <li class="primary">
              <strong class="primary">Warna &nbsp;({{data.data.warna.length}})</strong>
            </li>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <table>
              <tr>
                <td colspan="2" style="padding-left: 34px">
                  <mat-chip-list>
                    <mat-chip
                      [ngStyle]="{ 'background-color': b.kodeWarnaHexadecimal,
                                           'color': invertColor(b.kodeWarnaHexadecimal) }"
                      *ngFor="let b of data.data.warna">
                      {{b.namaWarna}}
                    </mat-chip>
                  </mat-chip-list>
                </td>
              </tr>
            </table>
          </td>
        </tr>


        <!--gramasi-->
        <tr>
          <td>
            <li><strong>Proses</strong></li>
          </td>
          <td>
            <strong>:</strong>&nbsp;
          </td>
          <td>
            {{data.data.gramasi}}
          </td>
        </tr>
        <!--setting-->
        <tr>
          <td>
            <li><strong>Setting</strong></li>
          </td>
          <td>
            <strong>:</strong>&nbsp;
          </td>
          <td>
            {{data.data.setting}}
          </td>
        </tr>
        <!--handfeel-->
        <tr>
          <td>
            <li><strong>Tekstur</strong></li>
          </td>
          <td>
            <strong>:</strong>&nbsp;
          </td>
          <td>
            {{data.data.handfeel}}
          </td>
        </tr>
        <!--additional-->
        <tr>
          <td>
            <li><strong>Additional</strong></li>
          </td>
          <td>
            <strong>:</strong>&nbsp;
          </td>
          <td>
            {{data.data.tambahan}}
          </td>
        </tr>
      </table>
    </div>
  </mat-dialog-content>

  <mat-dialog-content *ngIf="!isDataNull() && (isInsert() || isUpdate())">
    <form class="form-app" [formGroup]="form">

      <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <input type="hidden" formControlName="uuid"/>
          <!--kategori-->
          <mat-form-field formGroupName="kategori">
            <mat-select #selectKategori
                        [placeholder]="(kategoriLazy.isEnabled()) ? 'Kategori' : (kategoriLazy.failToFetch ? 'Gagal memuat data kategori ......' : 'Memuat data kategori ......')"
                        formControlName="uuid"
                        [errorStateMatcher]="stateMatchers.kategori.matcher" [required]="kategoriLazy.isEnabled()">
              <mat-option class="pilih">--&nbsp; Pilih salah satu &nbsp;--</mat-option>
              <mat-divider></mat-divider>
              <mat-option [value]="v.uuid" *ngFor="let v of kategoriLazy.data">
                {{v.namaKategori}}
              </mat-option>
              <mat-divider></mat-divider>
              <mat-option [value]="null" *ngIf="!kategoriLazy.isLast" (click)="kategoriLazy.refresh()"
                          class="lebih-banyak">
                <div *ngIf="!kategoriLazy.waitingLoadMore || kategoriLazy.failToFetch; else load">Muat lebih banyak
                  ....
                </div>
                <ng-template #load>
                  <mat-progress-bar style="position: relative; border-radius: 0px" color="primary"
                                    mode="indeterminate"></mat-progress-bar>
                </ng-template>
              </mat-option>
            </mat-select>
            <button *ngIf="kategoriLazy.failToFetch" matSuffix mat-icon-button matTooltip="Segarkan Kategori"
                    (click)="kategoriLazy.refresh()"
                    [matTooltipPosition]="'left'">
              <mat-icon color="primary">refresh</mat-icon>
            </button>
            <mat-error
              *ngIf="reactiveFormUtil.formControl(reactiveFormUtil.getFormGroup(form, 'kategori'), 'uuid').hasError('required')">
              {{stateMatchers.kategori.message}}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <!--sub kategori-->
          <mat-form-field formGroupName="subKategori">
            <mat-select #selectKategori
                        [placeholder]="(kategoriLazy.isEnabled()) ? 'Sub Kategori' : (kategoriLazy.failToFetch ? 'Gagal memuat data sub kategori ......' : 'Memuat data sub kategori ......')"
                        formControlName="uuid"
                        [errorStateMatcher]="stateMatchers.subKategori.matcher" [required]="kategoriLazy.isEnabled()">
              <mat-option class="pilih">
                --&nbsp; {{(kategoriLazy.dataChild['subKategori'].length === 0 ? 'Salah satu kategori harus terpilih' : 'Pilih salah satu')}}
                &nbsp;--
              </mat-option>
              <mat-divider></mat-divider>
              <mat-option [value]="v.uuid" *ngFor="let v of kategoriLazy.dataChild['subKategori']">
                {{v.nama}}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="reactiveFormUtil.formControl(reactiveFormUtil.getFormGroup(form, 'subKategori'), 'uuid').hasError('required')">
              {{stateMatchers.subKategori.message}}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <!--Kode-->
          <mat-form-field [appearance]="formFieldAppearance">
            <mat-label>Kode</mat-label>
            <input matInput autocomplete="off" placeholder="Kode" formControlName="kode" required
                   [errorStateMatcher]="stateMatchers.kode.matcher">
            <mat-error
              *ngIf="reactiveFormUtil.formControl(form, 'kode').hasError('required')">{{stateMatchers.kode.message}}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <!--Kode Inventori -->
          <mat-form-field [appearance]="formFieldAppearance">
            <mat-label>Kode Inventori</mat-label>
            <input matInput autocomplete="off" placeholder="Kode Inventori" formControlName="kodeItemAlias" required
                   [errorStateMatcher]="stateMatchers.kodeItemAlias.matcher">
            <mat-error
              *ngIf="reactiveFormUtil.formControl(form, 'kodeItemAlias').hasError('required')">
              {{stateMatchers.kodeItemAlias.message}}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <!--nama kain-->
          <mat-form-field [appearance]="formFieldAppearance">
            <mat-label>Nama Kain</mat-label>
            <input matInput autocomplete="off" placeholder="Nama Kain" formControlName="namaKain" required
                   [errorStateMatcher]="stateMatchers.namaKain.matcher">
            <mat-error
              *ngIf="reactiveFormUtil.formControl(form, 'namaKain').hasError('required')">{{stateMatchers.namaKain.message}}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <!--nama item-->
          <mat-form-field [appearance]="formFieldAppearance">
            <mat-label>Nama Item</mat-label>
            <input (keyup)="generateNamaKain()" autocomplete="off" matInput placeholder="Nama Item"
                   formControlName="namaItem" required
                   [errorStateMatcher]="stateMatchers.namaItem.matcher">
            <mat-error
              *ngIf="reactiveFormUtil.formControl(form, 'namaItem').hasError('required')">{{stateMatchers.namaItem.message}}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <!--ukuran-->
          <mat-form-field [appearance]="formFieldAppearance">
            <mat-label>Ukuran</mat-label>
            <input matInput autocomplete="off" placeholder="Ukuran" formControlName="ukuran" required
                   [errorStateMatcher]="stateMatchers.ukuran.matcher">
            <mat-error
              *ngIf="reactiveFormUtil.formControl(form, 'ukuran').hasError('required')">
              {{stateMatchers.ukuran.message}}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <!--benang-->
          <mat-form-field [appearance]="formFieldAppearance">
            <mat-label>Benang</mat-label>
            <input matInput autocomplete="off" placeholder="Benang" formControlName="benang" required
                   [errorStateMatcher]="stateMatchers.benang.matcher">
            <mat-error
              *ngIf="reactiveFormUtil.formControl(form, 'benang').hasError('required')">
              {{stateMatchers.benang.message}}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <!--jenis kain-->
          <mat-form-field [appearance]="formFieldAppearance">
            <mat-label>Jenis Kain</mat-label>
            <input matInput autocomplete="off" placeholder="Jenis Kain" formControlName="jenisKain" required
                   [errorStateMatcher]="stateMatchers.jenisKain.matcher">
            <mat-error
              *ngIf="reactiveFormUtil.formControl(form, 'jenisKain').hasError('required')">
              {{stateMatchers.jenisKain.message}}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <!--warna-->
          <mat-form-field formArrayName="warna" [appearance]="formFieldAppearance">
            <mat-chip-list #chipList>
              <mat-chip
                [ngStyle]="{ 'background-color': temp.kodeWarnaHexadecimal,
                                           'color': invertColor(temp.kodeWarnaHexadecimal) }"
                *ngFor="let temp of getWarnaValues(form, 'warna'); index as tempIndex"
                (removed)="removeWarna(reactiveFormUtil.getFormArray('warna', form), tempIndex, temp)">
                {{temp.namaWarna}} {{temp.kodeWarna.length === 0 ? '' : '('+ temp.kodeWarna +')'}}
                <!--<mat-icon matTooltip="Hapus"-->
                <mat-icon matTooltip="Hapus"
                          [matTooltipPosition]="'below'"
                          matChipRemove>cancel
                </mat-icon>
              </mat-chip>
              <input
                matInput
                placeholder="Warna"
                [formControl]="colorSelector"
                #warnaTrigger
                (click)="openAutoComplete()"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                              (optionSelected)="selected($event, reactiveFormUtil.getFormArray('warna', form))">
              <mat-option *ngFor="let temp of filteredDataWarna" [value]="temp">
                {{temp.namaWarna }} &nbsp;&nbsp;<span><strong>#KODE:</strong> <i
                class="accent"> {{printKodeWarna(temp.kodeWarna)}}</i></span>
              </mat-option>
              <mat-divider></mat-divider>
              <mat-option [value]="null" *ngIf="!isLastWarna" (click)="refreshWarna()" class="lebih-banyak">
                <div [ngStyle]="{ 'display': ((!waitingLoadMoreWarna  || warnaFailToFetch) ? 'block' : 'none')}">
                  Muat lebih banyak ....
                </div>
                <div [ngStyle]="{ 'display': ((!waitingLoadMoreWarna || warnaFailToFetch) ? 'none' : 'block')}">
                  <mat-progress-bar style="position: relative; border-radius: 0px" color="primary"
                                    mode="indeterminate"></mat-progress-bar>
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <!--unit-->
          <mat-form-field formGroupName="unit">
            <mat-select #selectUnit
                        [placeholder]="(unitLazy.isEnabled()) ? 'Unit' : (unitLazy.failToFetch ? 'Gagal memuat data unit ...' : 'Memuat data unit ......')"
                        formControlName="uuid"
                        [errorStateMatcher]="stateMatchers.unit.matcher" [required]="unitLazy.isEnabled()">
              <mat-option class="pilih">--&nbsp; Pilih salah satu &nbsp;--</mat-option>
              <mat-divider></mat-divider>
              <mat-option [value]="v.uuid" *ngFor="let v of unitLazy.data">
                {{v.name}}
              </mat-option>
              <mat-divider></mat-divider>
              <mat-option *ngIf="!unitLazy.isLast" (click)="unitLazy.refresh()" class="lebih-banyak">
                <div *ngIf="!unitLazy.waitingLoadMore || unitLazy.failToFetch; else loadUnit">Muat lebih banyak
                  ....
                </div>
                <ng-template #loadUnit>
                  <mat-progress-bar style="position: relative; border-radius: 0px" color="primary"
                                    mode="indeterminate"></mat-progress-bar>
                </ng-template>
              </mat-option>
            </mat-select>
            <button *ngIf="unitLazy.failToFetch" matSuffix mat-icon-button matTooltip="Segarkan Unit"
                    (click)="unitLazy.refresh()"
                    [matTooltipPosition]="'left'">
              <mat-icon color="primary">refresh</mat-icon>
            </button>
            <mat-error
              *ngIf="reactiveFormUtil.formControl(reactiveFormUtil.getFormGroup(form, 'unit'), 'uuid').hasError('required')">
              {{stateMatchers.unit.message}}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <!--setting-->
          <mat-form-field [appearance]="formFieldAppearance">
            <mat-label>Setting</mat-label>
            <input matInput autocomplete="off" placeholder="Setting" formControlName="setting">
            <!--<mat-error-->
            <!--*ngIf="reactiveFormUtil.formControl(form, 'setting').hasError('required')">-->
            <!--{{stateMatchers.setting.message}}</mat-error>-->
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <!--handfeel/tekstur-->
          <mat-form-field [appearance]="formFieldAppearance">
            <mat-label>Tekstur</mat-label>
            <input matInput autocomplete="off" placeholder="Tekstur" formControlName="handfeel">
            <!--<mat-error-->
            <!--*ngIf="reactiveFormUtil.formControl(form, 'handfeel').hasError('required')">-->
            <!--{{stateMatchers.handfeel.message}}</mat-error>-->
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <!--gramasi-->
          <mat-form-field [appearance]="formFieldAppearance">
            <mat-label>Proses</mat-label>
            <input matInput autocomplete="off" placeholder="Proses" formControlName="gramasi">
            <!--<mat-error-->
            <!--*ngIf="reactiveFormUtil.formControl(form, 'gramasi').hasError('required')">-->
            <!--{{stateMatchers.gramasi.message}}</mat-error>-->
          </mat-form-field>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <!--tambahan-->
          <mat-form-field [appearance]="formFieldAppearance">
            <mat-label>Additional</mat-label>
            <input matInput autocomplete="off" placeholder="Additional" formControlName="tambahan">
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <!--barcode-->
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 15px 0px 0px 0px">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0px">
              <a (click)="barcodeClick()">
                <strong class="primary">Barcode
                  &nbsp;
                  {{(barcodeCount() > 0) ? ('(' + barcodeCount() + ')') : ''}}
                </strong>
              </a>
              <button class="float-right"
                      *ngIf="barcodeState === 'expanded'" mat-icon-button matTooltip="Tambah Barcode"
                      [matTooltipPosition]="'left'"
                      (click)="addNewBarcode(reactiveFormUtil.getFormArray('barcode', form))">
                <mat-icon color="primary">add</mat-icon>
              </button>
            </div>
            <div [@barcodeExpand]="barcodeState"
                 formArrayName="barcode"
                 class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 10px 15px 20px 0px">
              <div *ngFor="let temp of reactiveFormUtil.getFormArrays('barcode', form); index as bar">
                <mat-card id="barcode-card">
                  <mat-card-content>
                    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                    <button mat-icon-button matTooltip="Hapus Barcode"
                            [matTooltipPosition]="'below'"
                            (click)="removeBarcode(reactiveFormUtil.getFormArray('barcode', form), bar)">
                      <mat-icon class="icon-delete-subcategory">delete_sweep</mat-icon>
                    </button>
                    <!--</div>-->
                    <div [formGroupName]="bar" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <input type="hidden" formControlName="uuid">

                      <!--barcode-->
                      <mat-form-field [appearance]="formFieldAppearance">
                        <mat-label>Barcode</mat-label>
                        <input appElementFocus
                               [isInsert]="isInsert()"
                               autocomplete="off"
                               matInput placeholder="Barcode " formControlName="barcode" required
                               [errorStateMatcher]="stateMatchers.barcode.barcode.matcher">

                        <mat-error
                          *ngIf="reactiveFormUtil.formControl(temp, 'barcode').hasError('required')">{{stateMatchers.barcode.barcode.message}}</mat-error>
                      </mat-form-field>

                    </div>

                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <!--nama alias-->
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 15px 0px 20px 0px">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0px">
              <a (click)="aliasClick()">
                <strong class="primary">Nama Alias
                  &nbsp;
                  {{(aliasCount() > 0) ? ('(' + aliasCount() + ')') : ''}}</strong>
              </a>
              <button class="float-right"
                      *ngIf="aliasState === 'expanded'" mat-icon-button matTooltip="Tambah Nama Alias"
                      [matTooltipPosition]="'left'"
                      (click)="addNewNamaAlias(reactiveFormUtil.getFormArray('namaAlias', form))">
                <mat-icon color="primary">add</mat-icon>
              </button>
            </div>
            <div [@aliasExpand]="aliasState" formArrayName="namaAlias"
                 class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 10px 15px 20px 0px">
              <div *ngFor="let temp of reactiveFormUtil.getFormArrays('namaAlias', form); index as al">
                <mat-card id="alias-card">

                  <mat-card-content>
                    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                    <button mat-icon-button matTooltip="Hapus Nama Alias"
                            [matTooltipPosition]="'below'"
                            (click)="removeNamaAlias(reactiveFormUtil.getFormArray('namaAlias', form), al)">
                      <mat-icon class="icon-delete-subcategory">delete_sweep</mat-icon>
                    </button>
                    <!--</div>-->
                    <div [formGroupName]="al" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <input type="hidden" formControlName="uuid">

                      <!--barcode-->
                      <mat-form-field [appearance]="formFieldAppearance">
                        <mat-label>Nama Alias</mat-label>
                        <input appElementFocus
                               [isInsert]="isInsert()"
                               matInput autocomplete="off" placeholder="Nama Alias " formControlName="namaAlias"
                               required
                               [errorStateMatcher]="stateMatchers.namaAlias.namaAlias.matcher">

                        <mat-error
                          *ngIf="reactiveFormUtil.formControl(temp, 'namaAlias').hasError('required')">
                          {{stateMatchers.namaAlias.namaAlias.message}}</mat-error>
                      </mat-form-field>

                    </div>

                  </mat-card-content>

                </mat-card>
              </div>
            </div>
          </div>
        </div>


      </div>

    </form>
  </mat-dialog-content>

  <mat-divider class="divider-actions" *ngIf="!isDataNull() && (isInsert() || isUpdate())"></mat-divider>

  <mat-dialog-actions *ngIf="!isDataNull() && (isInsert() || isUpdate())" align="end">
    <button mat-flat-button color="primary" (click)="save(form.getRawValue())"
            [disabled]="simpanButtonCondition(form.valid)">Simpan
    </button>
    <!--<button mat-flat-button color="primary" (click)="save(form.value)"-->
    <!--&gt;Simpan-->
    <!--</button>-->
  </mat-dialog-actions>

  <mat-dialog-actions class="delete" *ngIf="!isDataNull() && isDelete()" align="end">
    <button mat-button (click)="delete(data.data.uuid)">
      <strong class="delete">Ya, Hapus</strong>
    </button>
    <button mat-button [mat-dialog-close]="close">
      <strong class="delete">Tidak</strong>
    </button>
  </mat-dialog-actions>

</div>
