@import "~src/assets/css/dan-theme";
@import "~src/assets/css/dan-mix";

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.error-login {
  font-size: $standard-font-size-xs;
}

#login {
  //text-align: center;
  .mat-card {
    width: 380px;
    margin: 5em auto;
    padding: 2em 2em 2em 2em;
    background: rgba(89, 89, 89, 0.01);
    border: 1px solid #ebebeb;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.14902) 0px 2px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;

    .mat-card-title, .mat-card-subtitle {
      text-align: center;
    }
  }
}

.company {
  font-size: 12px;
}

.mat-progress-bar {
  margin: -32px 0 0 -32px;
  position: absolute;
  height: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 100%;
}


