<div id="dialog-block">

  <!--<div class="dialog-block-content">-->
  <mat-progress-bar *ngIf="dialogRef.disableClose" [color]="(isDelete()) ? 'warn' : 'accent'" mode="indeterminate">
  </mat-progress-bar>
  <h4 mat-dialog-title [ngClass]="(isDelete()) ? 'accent' : 'primary'">
    <div>
      <mat-icon *ngIf="!isDataNull() && isDetail()" style="margin-bottom: 8px;">description</mat-icon>
      <mat-icon *ngIf="!isDataNull() && (isInsert() || isUpdate())" style="margin-bottom: 4px;">subject</mat-icon>
      <mat-icon *ngIf="!isDataNull() && isDelete()" style="margin-bottom: 4px;">delete</mat-icon>

      <strong *ngIf="!isDataNull() && isDelete(); else elseHeader">&nbsp;Hapus Data</strong>
      <ng-template #elseHeader>
        <strong *ngIf="!isDataNull() && isDetail()">&nbsp;Rincian</strong>&nbsp;<strong>Data Warna</strong>
      </ng-template>
    </div>
  </h4>

  <mat-dialog-content *ngIf="!isDataNull() && isDetail()" class="form-app">
    <div id="table-detail">
      <table class="full-width-table">
        <tr>
          <td style="width: 120px">
            <li><strong>Nama Warna</strong></li>
          </td>
          <td>
            <strong>:</strong>&nbsp;
          </td>
          <td>
            {{data.data.namaWarna}} &nbsp;
            <input disabled
                   [ngStyle]="{
                     'border': '1px solid #D6D6D6',
                     'width': '50px',
                     'background': data.data.kodeWarnaHexadecimal
                   }">
          </td>
        </tr>
        <tr>
          <td>
            <li><strong>Kode Warna</strong></li>
          </td>
          <td>
            <strong>:</strong>&nbsp;
          </td>
          <td>
            {{data.data.kodeWarna}}
          </td>
        </tr>
        <tr>
          <td colspan="3" style="height: 10px"></td>
        </tr>
        <tr *ngIf="data.data.barcode.length > 0">
          <td colspan="3">
            <li class="primary">
              <strong class="primary">Barcode &nbsp;({{data.data.barcode.length}})</strong>
            </li>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="sub-category">
            <table>
              <div *ngFor="let b of data.data.barcode">
                <tr>
                  <td colspan="2" style="padding-left: 15px">
                                  <span class="accent" style="text-decoration: underline;">
                                    {{b.barcode}}
                                  </span>
                  </td>
                </tr>

              </div>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </mat-dialog-content>


  <mat-dialog-content *ngIf="!isDataNull() && (isInsert() || isUpdate())">
    <form class="form-app" [formGroup]="form">

      <div class="row">
        <!--<div class="container-fluid">-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <input type="hidden" formControlName="uuid"/>


          <!--warna-->
          <mat-form-field [appearance]="formFieldAppearance">
            <mat-label>Nama Warna</mat-label>
            <input id="warna"
                   matInput placeholder="Nama Warna" formControlName="namaWarna" required autocomplete="off"
                   [errorStateMatcher]="stateMatchers.namaWarna.matcher">

            <div matSuffix style="margin-bottom: 2px">
              <input #ignoredInput formControlName="kodeWarnaHexadecimal"
                     style="margin-left: 3px; height: 0px; width: 0px"
                     [cpPosition]="'left'"
                     [cpDisableInput]="true"
                     [cpIgnoredElements]="[ignoredButton, ignoredInput]"
                     [(cpToggle)]="toggle"
                     (colorPickerChange)="colorChanged($event)"
                     [(colorPicker)]="color"/>
              <a mat-flat-button
                 matTooltip="Tentukan warna (Optional)"
                 [matTooltipPosition]="'before'"
                 [ngStyle]="{
                   'margin-left': '-6px',
                   'background': color,
                   'color': '#fdfdfd'
                 }"
                 #ignoredButton (click)="toggle=!toggle">
                <mat-icon>format_color_fill</mat-icon>
              </a>
            </div>
            <mat-error
              *ngIf="reactiveFormUtil.formControl(form, 'namaWarna').hasError('required')">{{stateMatchers.namaWarna.message}}</mat-error>
          </mat-form-field>


          <!--kode-->
          <mat-form-field [appearance]="formFieldAppearance">
            <mat-label>Kode Warna</mat-label>
            <input matInput placeholder="Kode Warna" formControlName="kodeWarna" required autocomplete="off"
                   [errorStateMatcher]="stateMatchers.kodeWarna.matcher">
            <mat-error
              *ngIf="reactiveFormUtil.formControl(form, 'kodeWarna').hasError('required')">{{stateMatchers.kodeWarna.message}}</mat-error>
          </mat-form-field>


        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div style="float:right!important;font-size: 13px">
                <strong class="primary">Barcode</strong>
                &nbsp;
                <button mat-icon-button matTooltip="Tambah Barcode"
                        [matTooltipPosition]="'left'"
                        (click)="addNewBarcode(reactiveFormUtil.getFormArray('barcode', form))">
                  <mat-icon color="primary">add</mat-icon>
                </button>
              </div>
            </div>
          </div>


          <div formArrayName="barcode">
            <div *ngFor="let temp of reactiveFormUtil.getFormArrays('barcode', form); index as subIndex"
                 class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <mat-card id="barcode-card">
                <mat-card-content>
                  <button mat-icon-button matTooltip="Hapus Barcode"
                          [matTooltipPosition]="'below'"
                          (click)="removeBarcode(reactiveFormUtil.getFormArray('barcode', form), subIndex)">
                    <mat-icon class="icon-delete-subcategory">delete_sweep</mat-icon>
                  </button>
                  <div [formGroupName]="subIndex" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <input type="hidden" formControlName="uuid">
                    <!--barcode-->
                    <mat-form-field [appearance]="formFieldAppearance">
                      <mat-label>Barcode</mat-label>
                      <input appElementFocus autocomplete="off"
                             [isInsert]="isInsert()"
                             matInput placeholder="Barcode " formControlName="barcode" required
                             [errorStateMatcher]="stateMatchers.barcode.barcode.matcher">

                      <mat-error
                        *ngIf="reactiveFormUtil.formControl(temp, 'barcode').hasError('required')">{{stateMatchers.barcode.barcode.message}}</mat-error>
                    </mat-form-field>

                  </div>

                </mat-card-content>
              </mat-card>
              <br>
            </div>

          </div>


        </div>
        <!--</div>-->

      </div>

    </form>
  </mat-dialog-content>
  <!--</div>-->


  <mat-divider class="divider-actions" *ngIf="!isDataNull() && (isInsert() || isUpdate())"></mat-divider>

  <mat-dialog-actions *ngIf="!isDataNull() && (isInsert() || isUpdate())" align="end">
    <button mat-flat-button color="primary" (click)="save(form.getRawValue())"
            [disabled]="!form.valid">Simpan
    </button>
    <!--<button mat-flat-button color="primary" (click)="save(form.getRawValue())"-->
    <!--&gt;Simpan-->
    <!--</button>-->
  </mat-dialog-actions>

  <mat-dialog-actions class="delete" *ngIf="!isDataNull() && isDelete()" align="end">
    <button mat-button [mat-dialog-close]="close">
      <span>Tidak</span>
    </button>
    <button mat-button (click)="delete(data.data.uuid)">
      <span>Ya</span>
    </button>
  </mat-dialog-actions>

</div>
