<div [ngClass]="(this.bhkSharedService.loadingBarIndicator | async) ? nextPageAnimation : pageComeUpAnimation">


  <mat-menu #menuData="matMenu" xPosition="after" yPosition="below"
            (closed)="tableMenuRightClickOnClose($event)"
            (contextmenu)="preventDefaultMode($event)">
    <button mat-menu-item (contextmenu)="preventDefaultMode($event)">
      <mat-icon>description</mat-icon>
      <span>Rincian informasi</span>
    </button>
    <button mat-menu-item [disabled]="awaitSearch" (contextmenu)="preventDefaultMode($event)">
      <mat-icon>edit</mat-icon>
      <span>Ubah data</span>
    </button>


  </mat-menu>


  <div id="card-wrapper">


    <!--CARD TITLE-->
    <mat-card id="card-page">
      <span
        [style.position]="'absolute'"
        [style.marginLeft.px]="xContextMenuOfTable" [style.marginTop.px]="yContextMenuOfTable"
        #triggerMenuRow [matMenuTriggerFor]="menuData"></span>

      <mat-card-title>
        <mat-progress-bar *ngIf="awaitRefresh" color="accent" mode="indeterminate"></mat-progress-bar>
        <mat-toolbar-row>
          <label class="accent">Penawaran Warna</label>
          <span style="flex: 1 1 auto"></span>

          <!--// tampilkan status loading jika masih proses refresh-->
          <mat-progress-spinner style="margin-right: 10px" *ngIf="awaitRefresh"
                                color="accent"
                                diameter="24"
                                mode="indeterminate">
          </mat-progress-spinner>
          <button *ngIf="!awaitRefresh" mat-icon-button
                  matTooltip="Segarkan Halaman"
                  [matTooltipPosition]="'below'"
                  (click)="getData()">
            <mat-icon>refresh</mat-icon>
          </button>

        </mat-toolbar-row>
      </mat-card-title>
      <mat-card-subtitle class="move-subtitle-up">Proses pemesanan pembelian untuk item baru</mat-card-subtitle>

      <!---->

    </mat-card>


    <div id="search-banner">

      <mat-form-field appearance="outline" color="primary">

        <!--<mat-label>Nomor Dokumen</mat-label>-->
        <input matInput autocomplete="off" placeholder="Nomor Dokumen PO"
               #searchDocumentTrigger
               [formControl]="searchDocumentNumber" [matAutocomplete]="searchDocument">
        <mat-icon *ngIf="!waitingForSearchDocumentNumber" matPrefix>search</mat-icon>
        <mat-autocomplete #searchDocument="matAutocomplete"
          (optionSelected)="onSelectedDocument($event)">
         <mat-option
            style="font-size: 13px; height: auto !important;" *ngFor="let temp of searchDocumentNumberResult" [value]="temp">
            <mat-icon mat-list-icon>description</mat-icon>
            <span mat-line>{{temp.nomorDokumenPo}}</span>
          </mat-option>
        </mat-autocomplete>


        <mat-progress-spinner matPrefix *ngIf="waitingForSearchDocumentNumber"
                              color="accent"
                              diameter="24"
                              mode="indeterminate"></mat-progress-spinner>
        <button mat-icon-button matSuffix
                matTooltip="Pencarian Lanjut"
                [matTooltipPosition]="'below'">
          <mat-icon aria-label="Pencarian Lanjut">arrow_drop_down</mat-icon>
        </button>



      </mat-form-field>

    </div>


    <div class="row " style="padding-right: -105px !important;">

      <div [ngClass]="colorOfferListStyling()" id="content-wrapper">

        <div
          *ngFor="let penawaran of dataPenawaran; index as cardIndex"
          class="col-lg-4 col-md-6 col-sm-6 col-xs-6 col-lg">
          <mat-card
            [ngClass]="dataStyles[cardIndex]"
            (click)="cardClicked(cardIndex, penawaran)"
            (contextmenu)="onTableRightClicked($event, cardIndex, penawaran)">

            <mat-card-content>
              <mat-icon>web</mat-icon>

            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-footer>
              <table>
                <tr>
                  <td>
                    <mat-icon>description</mat-icon>
                  </td>
                  <td class="td-content">
                    <strong>{{penawaran.nomorDokumenPo}}</strong>
                  </td>
                </tr>
                <tr>
                  <td class="td-note mat-primary" colspan="2">
                    {{note(penawaran.catatan, 20)}}
                  </td>
                </tr>
              </table>

            </mat-card-footer>

          </mat-card>
        </div>
      </div>

      <div
        style="padding-right: 0"
        *ngIf="openedPanelColorOfferHistory" class="animated fadeIn col-lg-3 col-md-3 col-sm-12 col-xs-12 col-lg">
        <mat-card>

          <mat-card-content>

          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-footer>
            <table>
              <tr>
                <td>

                </td>
                <td class="td-content">
                  <strong>xzxzxz</strong>
                </td>
              </tr>
              <tr>
                <td class="td-note mat-primary" colspan="2">
                  xxzxzx
                </td>
              </tr>
            </table>

          </mat-card-footer>

        </mat-card>
      </div>


      <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="position: fixed;-->
      <!--bottom: 0;">-->
      <!--<mat-paginator [showFirstLastButtons]="true"-->

      <!--[length]="200"-->
      <!--[pageSize]="pageSize"-->
      <!--[pageSizeOptions]="[10, 25, 50, 100]">-->
      <!--</mat-paginator>-->
      <!--</div>-->


    </div>


  </div>


</div>
