@import "~src/assets/css/dan-theme";
@import "~src/assets/css/dan-mix";

.full-width-table {
  width: 100%;
}


.mat-column-uuid {
  width: 30px;
}


#table-detail {
  margin-left: 20px;

  table {
    font-size: $standard-font-size;

    td {
      vertical-align: top;

      li {
        padding-left: 15px;
      }
    }
  }
}


#content-wrapper {

  .row {
    padding-left: 0 !important;
  }

  margin-left: 0px !important;
  padding-left: 0px !important;

  .col-lg {
    padding-right: 0px !important;
  }

  .mat-card {
    margin-bottom: 14px;
    padding: 0px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;

    .mat-card-content {
      margin-bottom: 0;
      background-color: #f7f6f4;
      //font-size: ;
      padding: 16px;
    }

    .mat-card-footer {
      font-size: $standard-font-size;
      color: mat-color($dan-app-primary);
      //padding-top: 16px;
      margin: 16px 16px 18px 16px !important;

      table {
        td {
          vertical-align: bottom;
        }

        .td-content {
          padding-left: 6px;
        }

        .td-note {
          padding-top: 3px;
          padding-left: 5px;
          color: #8f8e8c;
          font-size: $standard-font-size-xs;
        }

      }
    }
  }

  .mat-card:not(.mat-card-active):hover {
    background-color: #f9f8f6;
    border: 1px solid #d8d8d8;

    .mat-card-content {
      background-color: #e9e8e6;
    }

  }

  .mat-card-active {
    background-color: #f9f8f6;
    border: 1px solid mat-color($dan-app-primary);

    .mat-card-content {
      color: #ffffff;
      background-color: mat-color($dan-app-primary);
    }

    .mat-card-footer {
      color: mat-color($dan-app-primary);

      table {

        .td-note {
          padding-top: 3px;
          padding-left: 5px;
          color: #a4a3a1;
          font-size: $standard-font-size-xs;
        }

      }
    }
  }
}


.example-box {
  width: 200px;
  height: 200px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#search-banner {

  margin-top: 5px;



  .mat-progress-bar {
    position: absolute;
    margin: 9px 0 0 -15px;
    z-index: 2;
    height: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }



  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: .25em 1.5em .3em 1.5em !important;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    margin-left: 15px !important;
  }

  ::ng-deep .mat-form-field-should-float {
    ::ng-deep .mat-form-field-label-wrapper {
      margin-top: -4px !important;
    }
  }

}
