
@import "~src/assets/css/dan-theme";
@import "~src/assets/css/dan-mix";

.mat-dialog-actions {
  padding-bottom: 20px;
}

.delete {
  color: $delete-font-color;
  font-size: $standard-font-size-sm;
}

.mat-option {
  font-size: $standard-font-size;
}

.mat-progress-bar {
  position: absolute;
  height: 4px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  width: 100%;
}

.mat-dialog-title {
  font-size: 15px;
}

#table-detail {
  margin-left: 15px;
  table  {
    font-size: $standard-font-size;
    td {
      vertical-align: top;
      li {
        padding-left: 15px;
      }
    }
  }
}
.icon-delete-subcategory {
  color: #6f6f6f;
}

//
::ng-deep .mat-dialog-container {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 24px;
}

#dialog-block {

  .mat-dialog-title {
    padding: 24px;
    margin: 0;
  }

  .mat-dialog-content {
    margin: 0;
    padding: 24px;
  }

  .mat-divider.divider-actions {
    margin-top: 5px;
    border-color: rgba(0, 0, 0, 0.18);
  }

  .mat-dialog-actions {
    padding-right: 24px;
    padding-top: 14px;
    padding-bottom: 18px;
    background: rgba(0, 0, 0, 0.07);
  }

  .mat-dialog-actions.delete {
    background: rgba(0, 0, 0, 0.0);
    color: rgba(0, 0, 0, 0.89);
  }

}


::ng-deep .pilih * {
  color: mat-color($dan-app-warning);
}

::ng-deep .lebih-banyak * {
  padding-right: 15px;
  font-style: italic;
  color: mat-color($dan-app-primary);
}
